<!-- add_expenses.html -->
<h2>Expenses</h2>

<h3>Add New Expenses</h3>
<form method="post" action="{{ url_for('add_expenses') }}">
    <input type="hidden" name="action" value="add_category">
    <label for="expenses_name">Income Name:</label>
    <input type="text" id="expenses_name" name="expenses_name" required>
    <label for="expenses_amount">Amount:</label>
    <input type="number" id="expenses_amount" name="expenses_amount" step="0.01" required>
    <button type="submit">Add Expenses</button>
</form>
</ul>